html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 隐藏滚动条 */
    width: 100%;
    height: 100%;
}

/* 隐藏滚动条但保持滚动功能 */
::-webkit-scrollbar {
    display: none;
}

/* 针对Firefox */
html, body {
    scrollbar-width: none;
}

#app {
    width: 100%;
    height: 100vh;
    color: #3bd45d;
    font-weight: bold;
    overflow: hidden; /* 隐藏滚动条 */
}